# Copy this file to .env and fill in your values
# NEVER commit the real .env to git

PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?appName=<appName>
VITE_API_URL=http://localhost:5000
